body {
	margin: 0;
	padding: 0;
}

.wrapper {
	background-color: #000;
	padding: 25px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.title {
		color: #fff;
		font-size: 24px;
		text-decoration: none;
	}

	.links {
		display: flex;
		gap: 20px;

		a {
			font-size: 24px;
			text-decoration: none;
			color: #fff;
			transition: all .2s linear;

			&:hover {
				color: green;
			}
		}
	}
}